body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F3F1FF;
}
.main_body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player_container{
  width: 870px;
  height: 679px;
  background-color: white;
  margin-bottom: 21px;
  
}
.player_container h1{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #562EFF;
  padding-left: 33px;
  padding-bottom: 33px;
  padding-top: 33px;
  margin: 0px;
}
.top_player-div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  
}
.player img{
  height: 56px;
  width: 56px;
  padding-left: 33px;
}
.player p{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.player{
  display: flex;

}
hr{
  width: 807px;
  color: #D1D1D1;
  margin-top: 25px;
}


/* Top blogs */
.Top_blog{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blogs{
  display: flex;
  align-items: center;
}
.blogs img{
  width: 177px;
  height: 117px;
  padding-left: 33px;
}
.blog_info h2{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
  padding-left: 16px;
}
.blogs p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #562EFF;
  padding-left: 16px;
}
.by{
  color: 
  #9F9F9F;
  font-weight: 400;
}
/* First section END CSS */

/* Scound section CSS Start */

.lates_course{
  background-color: #ffffff;
  width: 870px;
  height: 390px;
  margin-bottom: 28px;

}
.lates_course h1{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #562EFF;
  padding-left: 33px;
  padding-bottom: 10px;
  padding-top: 23px; 
  margin: 0px;
}
.main_course{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.courses{
  width: 240px;
  height: 270px;
  border-radius: 10px;
  padding: 10px;
  margin-left: 12px; 
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.info h2{
  margin: 0;
  padding-top: 19px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}
.info p {
  font-size: 14px;
  color: #ED6B4F;
}

.img{
  display: flex;
  justify-content: center;
}
.img img{
  height: 104px;
  width: 100%;
}
.rating_duration{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.duration{
  font-size: 14px;
  color: #FF4A60;
  border-radius: 15px;
  background-color: #FFE4E8;
  height: 30px;
  width: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.for_flex-rating{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fa-star{
  color: #FFC014;
  font-size: 12px;
}
.fa-star.empty{
  color: gray;
  font-size: 12px;
}

/* scound section CSS END  */