body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F3F1FF;
}
.main_body{
  display: flex;
  justify-content: center;
}
.player_container{
  width: 870px;
  height: 679px;
  background-color: white;
}
.top_player-div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player img{
  height: 56px;
  width: 56px;
}
hr{
  width: 807px;
  color: #D1D1D1;
}


/* Top blogs */
.Top_blog{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.blogs{
  display: flex;
  align-items: center;
}
.blogs img{
  width: 177px;
  height: 117px;
}
.blogs h1{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 34px;
}